/* 
    Created on : 2015-03-05, 22:32:50
    Author     : mohamed
*/

body {
    font-family: Verdana, sans-serif; 
    font-size: 12px;
    color: #464646;	
}

header, article, footer, aside {
    border:1px solid grey;
    margin:5px;
    padding:8px;
}

section {    
    margin:10px;
    padding:10px;
}

h1 {
    color: #38477E;
    font-weight: bolder;
    font-size: 16px;
}

h2 {
    color: #38477E;
    font-size: 14px;
    font-weight: bolder;
}

h3 {
    color: #0087e5;
    font-size: 12px;
    font-weight: bold;
}

#choixCriteres {
    position: relative;
    width: 48%;
    height: 300px;
    margin-top: 5px;
    float: left;
}

#affichageRslt {
    border:1px solid grey;
    position: relative;
    width: 50%;
    height: 558px;
    margin-left: 48%;
    margin-top: 5px;
    padding: 5px;
}

#corps {  
    display: block;
    margin: auto;
}

#affichage {
    display: inline-block;
    width: 25%;
}

figure {
    padding:10px;    
    border: 1px solid gray;
    width: 845px;
    margin: auto;
}

figcaption {
    margin-top:5px;
    padding:5px;
    background:#f4f4f4;
    border: 1px dotted gray;
}

figure img {
    padding:5px;
    background:#e3e7e3;   
}

figure img + img {
    margin-left:10px;
}

figure a:link, figure a:visited {	
    text-decoration: none;
}

.normal {
    font-weight:normal;
}

label {
    font-weight: bold;
    margin-top: 4px; 
    width: 170px;
    display: inline-block;
}

div.auth {
    margin: auto;
    margin-top: 90px;	
    background-color: #fff;
    padding: 30px;
    border: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    height: 250px;
    width: 300px;
    box-shadow:3px 5px 20px 3px;	
    border-radius: 5px;
}

#legend {
    font-weight: bold;
    margin-top: 4px; 
    margin-bottom: 50px;
}

#creerForm {
    margin-left: 50px;
}

#nvCompte{
    margin: auto;
    margin-top: 20px;	
    background-color: #fff;
    padding: 30px;
    border: solid;
    border-width: 1px;
    border-color: #e3e3e3;  
    width: 30%;
    box-shadow:3px 5px 20px 3px;	
    border-radius: 5px;
}

#nvCompte label{
    width: 400px;
    margin-top: 15px;
}

input{    
    margin-top: 4px; 
    padding: 2px;	
}

input[type="text"], input[type="password"],
input[type="tel"],input[type="email"],textarea{
    width: 230px;	
}

#ht,#lr,#pf {    
    width: 40px;	        
}

input[type="submit"], input[type="reset"]{
    margin-left: 30px;
    margin-top: 30px;
    display: inline;
    width: 100px;	
}

input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: #9999ff;
}

#imgRslt {
    border-style: solid;
    border-width: 60px 60px;  /* Largeur du cadre */
    border-image: url('../img/ccadre3.jpg') 140 140 round ;/*Largeur du marge, max 210 */   
    display: block;
    margin: auto;
    box-shadow: 0 0 5px #888888;
}

#success {
    color:green;
}

#erreur {
    color:red;
}

#chargement {
    display:none; 

}